* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body */
body {
    background-color: #d9dcd6;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h2:hover {
    color: darkgray;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

h3:hover {
    color: darkgray;
}
/* This is the navbar */
.top-bar {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.top-bar h1 {
    display: inline-block;
    font-size: 48px;
}

/* Added a hover feature for styling */
.seo {
    color: #d9dcd6;
}
.seo:hover {
    color: darkgray;
}

.top-bar div {
    padding-top: 15px;
    margin-right: 20px;
    margin-left: 25px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}


 .top-bar div ul li {
    display: inline-block;
    margin-left: 25px;
} 

a {
    color: #ffffff;
    text-decoration: none;
}

/* Added a hover feature for styling over the "seo" */
a:hover{
    color: darkgrey;
}
p {
    font-size: 16px;
}

/* Main content of webpage begins */
.main-photo {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Assets/images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.seo-fl {
    float: left;
    margin-right: 25px;
}

.orm-fr {
    float: right;
    margin-left: 25px;
}

.main-content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.main-content-description {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.main-content-description img {
    max-height: 200px;
}

/* Right bar portion of webpage begins */
.right-bar-content {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.right-bar-headings {
    margin-bottom: 32px;
    color: #ffffff;
}

.right-bar-headings img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer section of the webpage */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
